.container{
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
}

.upload-group{
  max-width: 1180px;
  height: 300px;
  background-color: #bfbfbf;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 2px dashed red;
  gap: 20px;
  border-radius: 10px;
}

.FileChange{
  padding: 15px 20px;
  white-space: nowrap;
  background-color: #000000;
  color: white;
  border-radius: 5px;
}